#food_image {
  border: 4px solid #BD081C;;
}



#recipes {
  /* Prevent vertical gaps */
  line-height: -5;
  margin-left: 8px;
  /* padding-bottom: 30px; */
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           4px;
}

/* #savedRecipes {
  line-height: -5;
  margin-left: 5px;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           4px;
  display: inline-block;

}

#savedRecipes img {
    width: 95%;
    height: 30%;
    display: inline-block;
    object-fit: cover;
    margin-bottom: 0px;
} */

/* @media (max-width: 1200px) {

  #savedRecipes {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #savedRecipes {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #savedRecipes {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #savedRecipes {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
} */

p {
  margin: 10px;
}


#recipes img  {
  /* Just in case there are inline attributes */
  width: 95% !important;
  height: auto !important;

}

@media (max-width: 1200px) {

  #recipes {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #recipes {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #recipes {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

img.search_icon {
  width: 70px;
  height: 70px;
  border: none;
  margin: 40px;
}

.icon_grid {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.searchcontainer {
  /* margin-top: 50px;
  justify-content: center;
  display: table; */
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#query {
  width: 600px;
  height: 50px;
  padding-left: 10px;
  margin-right: 20px;
  font-size: 17px;
}

#submit {
  height: 32px;
  width: 100px;
  background-color: #C92228;
  font-size: 15px;
  border: none;
  color: white;
  border-radius: 25px;
}

.ind_recipe {
  padding-bottom: 20px;
  -webkit-column-break-inside: avoid;
}

h2#displayQuery {
  margin-bottom: 20px;
  text-align: left;
  margin-top: -25px;
  margin-left: 10px;
}

button.thumbtack {
  margin-top: 2px;
}

p.title {
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 0px;
  width: 95%;
  height:25px;
  background-color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
}

img.link {
  margin-left: 70px;
}

button.thumbtack {
  margin-left: 70px;
}
